<!-- wp:template-part {"slug":"header-large-with-banner","theme":"sky-enterprise"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"backgroundColor":"light-color","layout":{"type":"constrained","contentSize":"100%"}} -->
<main class="wp-block-group has-light-color-background-color has-background" style="padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0">
  <!-- wp:pattern {"slug":"sky-enterprise/about-section-wide"} /-->
  <!-- wp:pattern {"slug":"sky-enterprise/team-section"} /-->
  <!-- wp:pattern {"slug":"sky-enterprise/about-section-wide2"} /-->

  <!-- wp:pattern {"slug":"sky-enterprise/featured-project"} /-->

  <!-- wp:pattern {"slug":"sky-enterprise/service-section-3"} /-->
  <!-- wp:pattern {"slug":"sky-enterprise/logo-showcase"} /-->
  <!-- wp:pattern {"slug":"sky-enterprise/testimonial-grid-2"} /-->
  <!-- wp:pattern {"slug":"sky-enterprise/faq-section"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"sky-enterprise","area":"footer"} /-->
