<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","backgroundColor":"body","layout":{"type":"constrained"}} -->
<main class="wp-block-group has-body-background-color has-background"><!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:group {"style":{"spacing":{"blockGap":"24px"}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:post-title {"textAlign":"center"} /--></div>
    <!-- /wp:group -->

    <!-- wp:spacer {"height":"60px"} -->
    <div style="height:60px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"24px","bottom":"24px"}},"border":{"top":{"color":"#b8b8b8","width":"1px"},"right":{"width":"0px","style":"none"},"bottom":{"color":"#b8b8b8","width":"1px"},"left":{"width":"0px","style":"none"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
    <div class="wp-block-group alignwide" style="border-top-color:#b8b8b8;border-top-width:1px;border-right-style:none;border-right-width:0px;border-bottom-color:#b8b8b8;border-bottom-width:1px;border-left-style:none;border-left-width:0px;padding-top:24px;padding-bottom:24px"><!-- wp:post-author {"showBio":true,"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary-color"}}},"spacing":{"padding":{"top":"0","bottom":"0"}}},"textColor":"secondary-color"} /-->

        <!-- wp:group {"style":{"spacing":{"blockGap":"4px"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
        <div class="wp-block-group"><!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary-color"}}},"spacing":{"padding":{"top":"0","bottom":"0"}}},"textColor":"secondary-color"} -->
            <p class="has-secondary-color-color has-text-color has-link-color" style="padding-top:0;padding-bottom:0">Share On:</p>
            <!-- /wp:paragraph -->

            <!-- wp:social-links {"iconColor":"secondary-color","iconColorValue":"#133A69","style":{"spacing":{"blockGap":{"left":"8px"}}},"className":"is-style-logos-only","layout":{"type":"flex","flexWrap":"nowrap"}} -->
            <ul class="wp-block-social-links has-icon-color is-style-logos-only"><!-- wp:social-link {"url":"#","service":"facebook"} /-->

                <!-- wp:social-link {"url":"#","service":"instagram"} /-->

                <!-- wp:social-link {"url":"#","service":"pinterest"} /--></ul>
            <!-- /wp:social-links --></div>
        <!-- /wp:group --></div>
    <!-- /wp:group -->

    <!-- wp:spacer {"height":"60px"} -->
    <div style="height:60px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"top":"24px","left":"48px"}}}} -->
    <div class="wp-block-columns alignwide"><!-- wp:column {"width":"66.66%"} -->
        <div class="wp-block-column" style="flex-basis:66.66%"><!-- wp:post-featured-image /-->

            <!-- wp:post-content /--></div>
        <!-- /wp:column -->

        <!-- wp:column {"width":"33.33%"} -->
        <div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:template-part {"slug":"sidebar","tagName":"sidebar"} /--></div>

        <!-- /wp:column --></div>
    <!-- /wp:columns -->

    <!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->